/* body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
} */
.main{
	width: 350px;
	height: 563px;
	background: red;
	overflow: hidden;
	background: url("../images/1.jpg") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.login{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
}
.signup{
	height: 495px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.activist{
	display: inline;
    color: red;
    font-size: 13px;
    position: absolute;
    bottom: 114px;
    left: 17px;
}
.orga{
	display: inline;
    color: red;
    font-size: 13px;
    position: absolute;
    bottom: 114px;
    left: 105px;
}
.btn-activist{
	margin-right: 100px;
}
.btn-orga{
	position: absolute;
    right: 67px;
    bottom: 157px;
    width: 5%;
}
.signup label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .signup{
	transform: translateY(-571px);
}
#chk:checked ~ .signup label{
	transform: scale(1);	
}
#chk:checked ~ .login label{
	transform: scale(.6);
}

.success_signup{
	display: inline-block;
    position: absolute;
    color: #f3f3f3;
    background-color: #4c694f;
    z-index: 10;
    top: 60px;
    border: none;
    border-radius: 5px;
	transition: transform 0.6s ease-in-out;
	animation: err 0.6s;
	animation: cssAnimation 0.6s ease-in-out 4s forwards;
}
.failed_signup{
	display: inline-block;
    position: absolute;
    color: #f3f3f3;
    background-color: #b55c8b;
    z-index: 10;
    top: 60px;
    border: none;
    border-radius: 5px;
	transition: transform 0.6s ease-in-out;
	animation: err 0.6s;
	animation: cssAnimation 0.6s ease-in-out 5s forwards;
}

@keyframes cssAnimation {
	from {
		opacity: 1;
	}
	
	to {
		opacity: 0;
	}
}
  @keyframes err {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}

.sign-in-container form i {
	position: absolute;
    right: 23%;
    top: 35.5%;
	cursor: pointer;
}
.sign-in-container form .eye.active::before{
	color: #333;
	content: "\f070";
  }

  .sign-up-container form i {
	position: absolute;
    right: 23%;
    top: 38.5%;
	cursor: pointer;
}
.sign-up-container form .eye.active::before{
	color: #333;
	content: "\f070";
  }